@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    margin: 0;
    /* font-family: 'Roboto', sans-serif;  */
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif
}

canvas {
    display: block;
}

#controls-container {
    position: absolute;
    top: 80;
    left: 10px;
    z-index: 100;
    margin-top: 180px;
}

button, input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

/* Contenedor padre */
#info-modal {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8 );
    font-family: 'Tahoma', 'Segoue UI', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 200;
    /* align-items: center; */
    justify-content: center;
    max-width: 250px;
    /* align-content: center;
    border-color: black;
    border-width: 2px; */
    /* border-style: solid; */
}

#close-modal {
    cursor: pointer;
    color: red;
    font-size: 14px;
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */
    /* align-self: center; */
}

/* textos */
#modal-content{
    border-width: 2px;
    /* border-color: black;
    border-style: solid;
    text-align: justify; */
}

#modal-header {
    border-width: 2px;
    font-size: medium;
    /* border-color: black;
    border-style: solid;
    text-align: center; */
}

/* imagen */
#modal-image{
    width: 100%;
    height: 150pxpx;
    border-width: 2px;
    /* border-color: red;
    border-style: solid;
    align-self: center; */
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    /* position: relative; */
    z-index: 100;
    position: absolute;
}

.logo img {
    margin-top: 15px;
    height: 55px; 
}

nav {
    margin-right: 50px;
    display: flex;
    gap: 20px;
}

.dropdown {
    margin-right: 15px;
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    position: relative;
    padding-right: 20px; 
}

.dropbtn::after {
    content: '';
    background: url('img/chevron-down.svg') no-repeat center;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.dropdown:hover .dropbtn::after {
    transform: translateY(-50%) rotate(180deg);
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #ddd;
}

.floating-box {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 250px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: width 0.3s ease, height 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}

.floating-box.expanded {
    width: 300px;
    height: 200px;
}

.floating-box .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.floating-box p {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 14px;
}

.floating-box .chevron {
    background: url('img/chevron-up.svg') no-repeat center;
    transform: rotate(180deg);
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.floating-box.expanded .chevron {
    transform: rotate(0deg);
}

.dropdown-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: none;
}

.floating-box.expanded .dropdown-list {
    display: block;
}

.dropdown-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.dropdown-list li span {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.floating-box {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 250px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8 );
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: width 0.3s ease, height 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}

.floating-box.expanded {
    width: 300px;
    height: 200px;
}

.floating-box .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.floating-box p {
    margin: 0;
    color: #000;
    font-size: 16px;
    
}

.floating-box .chevron {
    background: url('img/chevron-up.svg') no-repeat center;
    transform: rotate(180deg);
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.floating-box.expanded .chevron {
    transform: rotate(0deg);
}

.dropdown-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: none;
}

.floating-box.expanded .dropdown-list {
    display: block;
}

